.about{
    background-color: white;
    padding: 2vh;
    border-radius: 15px;
}

.about__title {
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-size: x-large;
}

.about__title--upper {
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-size: x-large;
    margin-top: 0;
}

.about__desc{
    font-family: "Noto Sans", sans-serif;
}

.about__skills{
}

.about__skill{
    display:flex;
    justify-content: space-between;
    width:40%;
}