.contact-form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.contact-form__group{
    display: flex;
    gap: 3vh;
    flex-wrap: wrap;
}

.contact-form__input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form__input--big{
    min-width: 75%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form__button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: min-content;
}